* {
    padding: 0%;
    margin: 0%;
    font-family: cursive;
}

header {
    width: 18%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.705);
    box-sizing: border-box;
    position: fixed;
}

#div-img-menu {
    background-color: transparent;
    border: none;
    margin: 20% 20% 10% 20%;
}

#img-menu {
    border-radius: 10%;
}

#div-titulo {
    text-align: center;
    background-color: transparent;
    border: none;
    color: lightgray;
    margin-bottom: 10%;
}

#div-aluno {
    background-color: transparent;
    border: none;
    text-align: center;
    color: lightgray;
    margin-top: 10%;
}

#div-redes-sociais {
    background-color: transparent;
    border: none;
    text-align: center;
    display: flex;
    position: absolute;
    bottom: 1px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

main {
    width: 82%;
    margin-left: 18%;
    min-height: 100vh;
    background-color: rgba(59, 59, 59, 0.158);
    box-sizing: border-box;
}

.botao-menu {
    display: block; 
    width: 100%;
    height: 55px;
}

.div-pagina {
    display: none;
    background-color: transparent;
    padding: 2%;
}

#img-introducao {
    max-width: 45%;
    margin: 2%;
}

#img-contato {
    max-width: 30%;
    margin-right: 15%;
}

